.books-page {
  padding: 20px;
  background-color: #f4f4f4;
}

.content-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}

.book-list-container, .other-user-books-container {
  width: 45%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book-form-container {
  width: 35%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.book-list-container ul, .other-user-books-container ul {
  list-style-type: none;
  padding: 0;
}

.book-list-container li, .other-user-books-container li {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.book-list-container button {
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}


.book-list-container button.edit-button:hover {
  background-color: #218838;
}


.book-list-container button.delete-button {
  background-color: #dc3545;
  margin-left: 5px;
}

.book-list-container button.delete-button:hover {
  background-color: #c82333;
}
